@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Open+Sans|PT+Sans+Narrow|Quicksand&display=swap');


h1 {
	font-family: 'Quicksand', sans-serif;
	color: rgb(100, 0, 0);
}

h2 {
	font-family: 'Quicksand', sans-serif;
	color: rgb(100, 0, 0);
}

p {
	font-family: 'Nanum Gothic', sans-serif;
}

li {
	font-family: 'Nanum Gothic', sans-serif;
}

nav ul li{
	margin: 50px;
	display: block;
	text-align: center;
	position: relative;
}
